<div class='container'>

  <h1>Planning de garde</h1>
  <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Date</th>
          <th scope="col">Prénom</th>
          <th scope="col">Statut</th>
          <th scope="col">Cout(€)</th>
        </tr>
      </thead>
    <% @shifts.each_with_index do |shift, index| %>
      <tbody>
        <tr>
          <th scope="row"><%= index + 1 %></th>
          <td> <%= shift.start_date %></td>
          <td> <%= shift.worker.first_name %></td>
          <td> <%= shift.worker.status %></td>
          <td> <%= shift.worker.price %></td>
        </tr>
      </tbody>
    <% end %>
  </table>

  <div>
    <%= render 'shared/worker_form' %>
    <%= render 'shared/shift_form' %>
    <%= link_to 'Tous les medecins',workers_path, class:'btn btn-outline-success' %>
  </div>
</div>
